            * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                .container {
                    max-width: 1200px;
                    margin: auto;
                }
                
                header {
                    position: absolute;
                    top: 45px;
                    width: 100%;
                    font-family: 'Manrope', sans-serif;
                }
                
                .navigation {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                }
                
                main {
                    font-family: 'Manrope', sans-serif;
                }
                
                nav ul li {
                    display: inline-block;
                    margin-left: 40px;
                }
                
                nav ul li a {
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    color: #000000;
                }
                
                .link-border {
                    color: #FFFFFF;
                    border: solid #F84646;
                    background: #F84646;
                    padding: 10px 20px;
                    border-radius: 5px;
                    text-decoration: none;
                    display: inline-block;
                    margin-left: 40px;
                }
                
                .mobile-menu {
                    display: none;
                }
                
                .one {
                    background-image: url(../images/background.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    padding-top: 200px;
                    padding-bottom: 148px;
                }
                
                h1 {
                    font-style: normal;
                    font-weight: 800;
                    font-size: 64px;
                    line-height: 82px;
                    color: #000000;
                    margin-bottom: 20px;
                    max-width: 665px;
                }
                
                .one p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 36px;
                    letter-spacing: 0.2px;
                    color: #000000;
                    max-width: 650px;
                    margin-bottom: 50px;
                }
                
                .click {
                    background-color: #FFFFFF;
                    max-width: 502px;
                    border-radius: 8px;
                    padding: 6px 6px 6px 0;
                }
                
                input {
                    padding: 19px 0 19px 32px;
                    border: none;
                    border-radius: 8px;
                    outline: none;
                    /* max-width: 356px; */
                    width: calc(71%);
                }
                
                 ::placeholder {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 36px;
                    letter-spacing: 0.2px;
                    color: rgba(0, 0, 0, 0.4);
                }
                
                button {
                    padding: 13px 38px;
                    background: #F84646;
                    border-radius: 8px;
                    outline-style: none;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 36px;
                    color: #FFFFFF;
                    border: none;
                }
                
                .two {
                    background-color: #FFFFFF;
                    padding-top: 120px;
                    padding-bottom: 140px;
                    text-align: center;
                }
                
                .two h2 {
                    margin-bottom: 30px;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 36px;
                    line-height: 49px;
                    color: #000000;
                }
                
                .two p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 40px;
                    letter-spacing: 0.2px;
                    max-width: 994px;
                    margin: auto;
                }
                
                .two-card {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    text-align: center;
                }
                
                .card {
                    max-width: 33%;
                    margin-top: 90px;
                }
                
                .card img {
                    margin-bottom: 10px;
                }
                
                .card h3 {
                    margin-bottom: 10px;
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 33px;
                    color: #000000;
                }
                
                .card p {
                    max-width: 316px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: 0.2px;
                    color: #000000;
                }
                
                .three {
                    background-color: #F84646;
                    padding-top: 68px;
                    padding-bottom: 78px;
                    text-align: center;
                }
                
                .three h2 {
                    font-style: normal;
                    font-weight: 800;
                    font-size: 48px;
                    line-height: 64px;
                    color: #FFFFFF;
                    margin-bottom: 8px;
                }
                
                .three-one {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 32px;
                    color: #FFFFFF;
                    margin-bottom: 64px;
                }
                
                .three .right p {
                    max-width: 199px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 31px;
                    color: #FFFFFF;
                    text-align: left;
                }
                
                .right {
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                }
                
                .four {
                    background-color: #FFFFFF;
                    padding-top: 160px;
                    padding-bottom: 160px;
                }
                
                .four img {
                    display: block;
                }
                
                .four-one {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin-bottom: 120px;
                }
                
                .four h2 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 76px;
                    color: #2E2E2E;
                    max-width: 608px;
                    margin-bottom: 40px;
                }
                
                .four p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 32px;
                    color: #808080;
                    max-width: 523px;
                    margin-bottom: 80px;
                }
                
                .four a {
                    text-decoration: none;
                    display: inline-block;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    color: #FFFFFF;
                    border: solid #F84646;
                    background: #F84646;
                    border-radius: 8px;
                    padding: 12px 58px;
                }
                
                .four-two {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                }
                
                .four-two h2 {
                    max-width: 548px;
                }
                
                .five {
                    background-color: #F4F5F7;
                    padding: 59px 0;
                    text-align: center;
                }
                
                .five h2 {
                    font-style: normal;
                    font-weight: 800;
                    font-size: 48px;
                    line-height: 64px;
                    color: #18191F;
                    margin-bottom: 5px;
                }
                
                .five p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 32px;
                    color: #18191F;
                    margin-bottom: 48px;
                }
                
                .logo {
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    align-items: center;
                    max-width: 946px;
                    margin: auto;
                }
                
                .logo img {
                    max-width: 100%;
                }
                
                .borusan {
                    background-color: #FFFFFF;
                    width: 170px;
                    height: 96px;
                    border-radius: 16px;
                    background-image: url(../images/borusan.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                
                .istambul {
                    background-color: #FFFFFF;
                    width: 170px;
                    height: 96px;
                    border-radius: 16px;
                    margin-bottom: 12px;
                    background-image: url(../images/istambul.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                
                .book-my-show {
                    background-color: #FFFFFF;
                    width: 170px;
                    height: 96px;
                    border-radius: 16px;
                    margin-top: 12px;
                    background-image: url(../images/book-my-show.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                
                .akbank {
                    background-color: #FFFFFF;
                    width: 170px;
                    height: 96px;
                    border-radius: 16px;
                    margin-bottom: 12px;
                    background-image: url(../images/akbank.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                
                .akcansa {
                    background-color: #FFFFFF;
                    width: 170px;
                    height: 96px;
                    border-radius: 16px;
                    margin: 12px 0;
                    background-image: url(../images/akcansa.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                
                .tumunu {
                    background-color: #FFFFFF;
                    width: 170px;
                    height: 96px;
                    border-radius: 16px;
                    margin-top: 12px;
                    background-image: url(../images/tumunu.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                
                .akta {
                    background-color: #FFFFFF;
                    width: 170px;
                    height: 96px;
                    border-radius: 16px;
                    margin-bottom: 12px;
                    background-image: url(../images/aktas.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                
                .ola {
                    background-color: #FFFFFF;
                    width: 170px;
                    height: 96px;
                    border-radius: 16px;
                    margin-top: 12px;
                    background-image: url(../images/ola.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                
                .amazon {
                    background-color: #FFFFFF;
                    width: 170px;
                    height: 96px;
                    border-radius: 16px;
                    text-align: center;
                    background-image: url(../images/amazon.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                
                .six {
                    padding: 160px 0;
                    background-color: #FFFFFF;
                    text-align: center;
                }
                
                .six img {
                    margin-bottom: 10px;
                }
                
                .six h2 {
                    font-style: normal;
                    font-weight: 800;
                    font-size: 48px;
                    line-height: 32px;
                    color: #000000;
                    margin-bottom: 20px;
                }
                
                .six p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 32px;
                    color: #000000;
                    margin-bottom: 30px;
                }
                
                .six a {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 20px;
                    color: #FFFFFF;
                    border: #F84646 solid;
                    background-color: #F84646;
                    text-decoration: none;
                    border-radius: 8px;
                    padding: 25px 40px;
                    display: inline-block;
                }
                
                footer {
                    padding: 80px 0 70px;
                    background-color: #F8464A;
                    font-family: 'Inter', sans-serif;
                }
                
                .footer-one {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 50px;
                }
                
                .footer-one h3 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: #FFFFFF;
                }
                
                .footer-one p {
                    margin-top: 24px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 32px;
                    color: #E6E6E6;
                }
                
                .footer-two {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                
                .footer-two p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 32px;
                    color: #FFFFFF;
                }
                
                .footer-two img {
                    margin-left: 16px;
                }
                
                @media(max-width:1200px) {
                    .container {
                        max-width: 95%;
                    }
                }
                
                @media(max-width:1024px) {
                    .card {
                        max-width: 50%;
                    }
                    .two-card {
                        justify-content: space-around;
                        max-width: 764px;
                        margin: auto;
                    }
                    h1 {
                        font-size: 56px;
                        line-height: 74px;
                    }
                    .one p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 28px;
                    }
                    .three .right p {
                        font-size: 14px;
                        line-height: 22px;
                        max-width: 175px;
                    }
                    .four h2 {
                        font-size: 58px;
                        line-height: 60px;
                        max-width: 515px;
                    }
                    .four p {
                        font-size: 14px;
                        line-height: 28px;
                        max-width: 428px;
                    }
                    .four-two h2 {
                        font-size: 58px;
                        line-height: 60px;
                    }
                    .four p {
                        font-size: 14px;
                        line-height: 28px;
                    }
                }
                
                @media(max-width:950px) {
                    .four-one {
                        flex-direction: column-reverse;
                        align-items: center;
                    }
                    .four-two {
                        flex-direction: column;
                        align-items: center;
                    }
                    .four img {
                        margin-bottom: 50px;
                    }
                    .logo {
                        flex-direction: column;
                    }
                    .borusan {
                        margin-bottom: 12px;
                    }
                    .istambul {
                        margin-top: 12px;
                    }
                    .book-my-show {
                        margin-top: 12px;
                        margin-bottom: 12px;
                    }
                    .akbank {
                        margin-top: 12px;
                    }
                    .tumunu {
                        margin-bottom: 12px;
                    }
                    .akta {
                        margin-top: 12px;
                    }
                    .ola {
                        margin-bottom: 12px;
                    }
                    .amazon {
                        margin-top: 12px;
                    }
                }
                
                @media(max-width:850px) {
                    nav {
                        display: none;
                    }
                    .mobile-menu {
                        display: inline-block;
                    }
                    .navigation {
                        display: flex;
                        justify-content: space-between;
                    }
                }
                
                @media(max-width:600px) {
                    .click {
                        max-width: 100%
                    }
                    form {
                        display: flex;
                        justify-content: space-between;
                    }
                     ::placeholder {
                        font-size: 14px;
                        line-height: 36px;
                    }
                    button {
                        font-size: 14px;
                        line-height: 19px;
                        letter-spacing: 0.2px;
                        padding: 16px 18px;
                    }
                    input {
                        max-width: 67%;
                    }
                    h1 {
                        font-size: 42px;
                        line-height: 58px;
                    }
                    .one p {
                        font-size: 12px;
                        line-height: 23px;
                    }
                    .two h2 {
                        font-size: 24px;
                        line-height: 33px;
                    }
                    .two p {
                        font-size: 12px;
                        line-height: 22px;
                    }
                    .three h2 {
                        font-size: 36px;
                        line-height: 47px;
                    }
                    .three-one {
                        font-size: 14px;
                    }
                    .four h2 {
                        font-size: 36px;
                        line-height: 42px;
                    }
                    .five h2 {
                        font-size: 36px;
                        line-height: 42px;
                    }
                    .five p {
                        font-size: 14px;
                        line-height: 32px;
                    }
                    .six h2 {
                        font-size: 36px;
                        line-height: 32px;
                    }
                    .six p {
                        font-size: 14px;
                        line-height: 25px;
                    }
                    .four a {
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                    .two-card {
                        flex-direction: column;
                        align-items: center;
                    }
                }
                
                @media(max-width:520px) {
                    .right {
                        flex-direction: column;
                        align-items: center;
                    }
                    .three .right p {
                        text-align: center;
                    }
                    .right div {
                        margin-bottom: 40px;
                    }
                    .right div:last-child {
                        margin-bottom: 0;
                    }
                    .four img {
                        width: 100%;
                    }
                    .footer-one {
                        flex-direction: column;
                    }
                    .footer-one h3 {
                        margin-top: 49px;
                    }
                    .child {
                        margin-top: 0px !important;
                    }
                    .footer-two {
                        flex-wrap: wrap;
                        flex-direction: column-reverse;
                        align-items: flex-start;
                    }
                    .footer-two img:first-child {
                        margin-left: 0;
                    }
                }
                
                @media(max-width:440px) {
                    /* .click {
                                                                                max-width: 300px; */
                }
                
                h1 {
                    font-size: 32px;
                    text-align: center;
                }
            }